@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    background: #222242;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: absolute;
}

.wrapper{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 330px;
}

.wrapper h2{
    color: #fff;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #A9A9A9;
    background: #222242;
    color: #fff;
    font-size: 18px;
}

.strength-text{
    color: #fff;
    margin: 15px 0 10px;
}

.strength-bar{
    width: 100%;
    height: 12px;
    background: #151538;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    animation: shine 3s infinite;
}

#bar{
    height: 100%;
    width: 0%;
    background: #F6B400;
    transition: 0.4s;
}

@keyframes shine{
    0%,100%{
        box-shadow: 0px 0px 32px -12px rgba(246, 180, 0, .5);
    }
    50%{
        box-shadow: 0px 0px 32px 3px rgba(246, 180, 0, .5);
    }
}

button{
    background-color: #222242;
    padding: 10px 32px;
    border: 1px solid #A9A9A9;
    border-radius: 28px;
    color: #fff;
    margin: 10px 10px;
    transition: .2s;
    cursor: pointer;
}

button:hover{
    border-color: #F6B400;
    color: #F6B400;
    box-shadow: 0px 4px 27px -12px #F6B400;
}
